## Import librairies

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor, VotingRegressor
from xgboost import XGBRegressor

In [2]:
from xgboost import XGBRegressor

## Import data

In [3]:
df = pd.read_csv("https://full-stack-assets.s3.eu-west-3.amazonaws.com/Deployment/get_around_pricing_project.csv")
df.drop(df.columns[0], axis=1, inplace=True)
df = df[~df.model_key.isin(['Mini', 'Mazda', 'Honda', 'Yamaha'])]

## Basics statistics

In [4]:
print('Number of rows in the dataset : {}'.format(df.shape[0]))
print('Number of columns in the dataset : {}'.format(df.shape[1]))
print()

display(df.head())
print()

print('Basics statistics')
display(df.describe(include='all'))
print()

print('Percentage of missing values : ')
display((100*df.isnull().sum()/df.shape[0]).round(2))
print()

print('Variables types : ')
print(df.dtypes)

Number of rows in the dataset : 4839
Number of columns in the dataset : 14

,model_key,mileage,engine_power,fuel,paint_color,car_type,private_parking_available,has_gps,has_air_conditioning,automatic_car,has_getaround_connect,has_speed_regulator,winter_tires,rental_price_per_day
0,Citroën,140411,100,diesel,black,convertible,True,True,False,False,True,True,True,106
1,Citroën,13929,317,petrol,grey,convertible,True,True,False,False,False,True,True,264
2,Citroën,183297,120,diesel,white,convertible,False,False,False,False,True,False,True,101
3,Citroën,128035,135,diesel,red,convertible,True,True,False,False,True,True,True,158
4,Citroën,97097,160,diesel,silver,convertible,True,True,False,False,False,True,True,183

Basics statistics

,model_key,mileage,engine_power,fuel,paint_color,car_type,private_parking_available,has_gps,has_air_conditioning,automatic_car,has_getaround_connect,has_speed_regulator,winter_tires,rental_price_per_day
count,4839,4.839000e+03,4839.000000,4839,4839,4839,4839,4839,4839,4839,4839,4839,4839,4839.000000
unique,24,NaN,NaN,4,10,8,2,2,2,2,2,2,2,NaN
top,Citroën,NaN,NaN,diesel,black,estate,True,True,False,False,False,False,True,NaN
freq,969,NaN,NaN,4640,1633,1606,2658,3835,3862,3877,2611,3672,4510,NaN
mean,NaN,1.409848e+05,128.907419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121.201281
std,NaN,6.019285e+04,38.749326,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.549818
min,NaN,-6.400000e+01,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000
25%,NaN,1.029885e+05,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104.000000
50%,NaN,1.410800e+05,120.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.000000
75%,NaN,1.751955e+05,135.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.000000
max,NaN,1.000376e+06,423.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,422.000000

Percentage of missing values :

model_key                    0.0
mileage                      0.0
engine_power                 0.0
fuel                         0.0
paint_color                  0.0
car_type                     0.0
private_parking_available    0.0
has_gps                      0.0
has_air_conditioning         0.0
automatic_car                0.0
has_getaround_connect        0.0
has_speed_regulator          0.0
winter_tires                 0.0
rental_price_per_day         0.0
dtype: float64

Variables types :
model_key                    object
mileage                       int64
engine_power                  int64
fuel                         object
paint_color                  object
car_type                     object
private_parking_available      bool
has_gps                        bool
has_air_conditioning           bool
automatic_car                  bool
has_getaround_connect          bool
has_speed_regulator            bool
winter_tires                   bool
rental_price_per_day          int64
dtype: object